@use 'scss/color.scss' as c;

html, body {
  background-color: c.$htmlbg;
  color: c.$htmlcolor;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
header{
    position:relative;
    margin:0;
    z-index: 1;
    nav {
       display: flex;
       justify-content: space-between;
       width: 100%;
       background-color: c.$navbg;
       position:fixed;
       #logo {
          padding: 2rem;
          background-color: transparent;
        }
        ul {
           display: flex;
           gap: 1rem;
           background-color: transparent;
           li {
              display: inline-block;
              list-style-type: none;
              padding: 1rem;
              background-color: transparent;
              text-transform: uppercase;
            }
            li:last-child{
               display: none;
            }
            @media screen and (max-width:300px){
                  li{
                     display:none;
                  }
                  li:last-child{
                     display: inline-block;
                  }
            }
        }
    }
}

main {
  position: absolute;  
  padding:1rem;
  margin:5rem auto;
  margin-left:clamp(20px,25vw,80px);
  width:clamp(300px,100vw,1350px);
  border: 1px solid black;

  h1 {
    font-size: clamp(4rem,25vw,7rem);
  }
}
