*text=auto

# Web code consistency
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.scss text eol=lf

# custom diff
*.jpg filter=lfs diff=image merge=lfs
*.jpeg filter=lfs diff=image merge=lfs
*.png filter=lfs diff=image merge=lfs
*.webp filter=lfs diff=image merge=lfs
*.avif filter=lfs diff=image merge=lfs

*.webm filter=lfs diff=video merge=lfs -text
*.mp4 filter=lfs diff=video merge=lfs -text
*.mov filter=lfs diff=video merge=lfs -text
*.wav filter=lfs diff=video merge=lfs -text

