*text=auto

# Web code consistency
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.scss text eol=lf

# custom diff
*.jpg diff=image
*.jpeg diff=image
*.png diff=image
*.webp diff=image
*.avif diff=image

*.webm filter=lfs diff=video merge=lfs -text
*.mp4 filter=lfs diff=video merge=lfs -text
*.mov filter=lfs diff=video merge=lfs -text
*.wav filter=lfs diff=video merge=lfs -text

