[diff ="webp"]
   textconv = identify  -verbose

[diff ="avif"]
   textconv = avifinfo

[diff ="webm"]
   textconv = ffprobe -show_streams -show_format -v quiet

[diff "image"]
    textconv = "C:/Program Files/exiftool/exiftool.exe" -a -u -g1

[diff "video"]
    textconv = ffprobe -show_streams -show_format -v quiet

[lfs]
    diff = false

