[diff ="webp"]
   textconv = identify  -verbose

[diff ="avif"]
   textconv = avifinfo

[diff ="webm"]
   textconv = ffprobe -show_streams -show_format -v quiet

[diff "exiftool"]
    textconv = exiftool

[diff "video"]
    textconv = ffprobe -show_streams -show_format -v quiet

[lfs]
    diff = false

