$font-size:(
    1:1rem,
    2:1.25rem,
    3:1.5rem,
    4:1.75rem,
    5:2rem,
    6:2.25rem,
    7:2.5rem,
    8:2.75rem,
    9:3rem,
    10:3.25rem,
    11:3.5rem,
    12:3.75rem,
    13:4rem,
    14:4.25rem,
    15:4.5rem,
    16:4.75rem,
    17:5rem
);

@font-face{
    font-family: 'RobotoSlab';
    src: url('/font/RobotoSlab-ExtraBold.woff') format("woff");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('font/RobotoSlab-Regular.woff') format("woff");
    font-weight: 300;
    font-display: swap;
}
@mixin font-robotoslab {
    font-family: 'RobotoSlab',sans-serif;
    font-weight: 800;
}

@mixin font-robotoslab-regular{
    font-family: 'RobotoSlab-Regular',sans-serif;
    font-weight: 300;
}