$htmlbg:#f8f9fa;
$htmlcolor:#343a40;

$navbg:#06d6A0;

$colors:(
  'white-100':#ffffff,
  'white-80': #f8f9fa,

  'black-100':#000000,
  'black-80':#1f2021,
  'black-50':#343a40,
  
  'green-100':#08fcbb,
  'green-50':#06d6a0,
  'green-20':#066b50,

  'red-100':#f80707,
  'red-50':#e48080,
  'red-20':#800909
);